<div class="container">
  <div *ngIf="company$ | async as company; else loadingCompany">
    <h3>{{ company.name }}</h3>
    <p>{{ company.address }}</p>
    <p>Phone: {{ company.phones.join(", ") }}</p>
  </div>

  <ng-template #loadingCompany>
    <div>Loading company information...</div>
  </ng-template>

  <div>
    <hr />
    <h3>All Invoices</h3>

    <div *ngIf="invoices.length === 0">No items</div>

    <div
      *ngFor="let invoice of paginatedInvoices; let i = index"
      class="invoice-card"
    >
      <h4>Invoice #{{ (currentPage - 1) * pageSize + i + 1 }}</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of invoice">
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.count * item.price | currency }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right"><strong>Total:</strong></td>
            <td>
              <strong>{{ calculateInvoiceTotal(invoice) | currency }}</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div *ngIf="invoices.length > pageSize">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>

  <div *ngIf="invoices.length > 0">
    <hr />
    <h3>Overall</h3>
    <div>
      <p><strong>Total Items Count:</strong> {{ totalItemsCount }}</p>
    </div>
    <div>
      <p><strong>Total Price:</strong> {{ totalPrice | currency }}</p>
    </div>
  </div>
</div>
