<div>
  <nav class="top-navbar">
    <div class="navbar-container">
      <div class="navbar-brand">Invoice Generator</div>
      <div class="navbar-links">
        <a
          class="navbar-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Invoice Form</a
        >
        <a class="navbar-link" routerLink="/summary" routerLinkActive="active"
          >Invoice Summary</a
        >
      </div>
    </div>
  </nav>
  <div class="main-content">
    <div class="container mt-4">
      <router-outlet />
    </div>
  </div>
</div>
